.MuiPaper-elevation2-5 {
    align-content: center;
    background: inherit;
    padding-left: 0 !important ;

}
.WithStyles-TableCell--body-153{
    text-align: center;
}
.WithStyles-TableCell--head-152{
        text-align: center;
}
.MuiPaper-root-1{
    height: 300px;
}